<div class="container__big-card">
  <div class="big-card__photo">
      <img
       src="https://imgs.search.brave.com/RuvlXC2_q-WLnEMTWSvqiUcZL6wVg-_fyVz0tWwkobE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMud2lraWEubm9j/b29raWUubmV0L29u/ZXBpZWNlL2ltYWdl/cy82LzZiL1NsaWRl/XzFfcHJldmlldy5w/bmcvcmV2aXNpb24v/bGF0ZXN0P2NiPTIw/MjMwNDE3MTcxNjIy/JnBhdGgtcHJlZml4/PXB0"
       alt=""
       height="200px"
       width="400px">
  </div>

  <div class="big-card__title">
      <h1><a href="#">One Piece: O Achado Perdido</a></h1>
  </div>

  <div class="big-card__description">
      <p>
        <a href="">
          One Piece chegou no seu arco final, será que os Mugiwaras vão achar o tesouro perdido ?
        </a>
      </p>
  </div>
</div>
