<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
       src="https://imgs.search.brave.com/6BisEHxRGC8qSnlpFrVzkzzsTalNuQ5souaDlwJN1w8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9lMC5w/eGZ1ZWwuY29tL3dh/bGxwYXBlcnMvNTU4/LzY0My9kZXNrdG9w/LXdhbGxwYXBlci1s/dWZmeS1qb3ktYm95/LXN1bi1nb2Qtbmlr/YS1sdWZmeS1qb3li/b3kuanBn"
      >
  </div>

  <div class="small-card__title">
      <h1><a href="#">Monkey D. Luffy é revelado como o famoso <b>Joy Boy!!</b> </a></h1>
  </div>
  </div>
<div class="container__small-card__separator">
<hr>
</div>
</div>
